<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Admin</title>

	<%- include('../partials/header')%>

</head>
<body>
	<section id="container">
	<%- include('../partials/topbar')%>
	<%- include('../partials/sidebar')%>
	
	<h2>List Product</h2>
	
	<%- include('../partials/footer')%>
	</section>
</body>
</html>